body {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  height: 100vh;
}
img {
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
}
div,
b,
i,
s,
u,
strong {
  display: block;
}
